<h3>Relatório de Comissões</h3>

<div class="row" ng-controller="relatorioComissaoController as ctrl" >
    <div class="panel panel-default">
       <div class="panel-body">
            <form class="form-group col-sm-12 no-padding form-horizontal" ng-submit="ctrl.search()">
                <div class="col-sm-6">
                    <div class="form-group">
                    <label class="col-sm-12 no-padding">Distribuidor</label>
                    <div class="col-sm-12 no-padding">
                        <div
                            angucomplete-alt id="ex1"
                            placeholder="Procurar"
                            maxlength="50"
                            pause="100"
                            selected-object="ctrl.entity.distribuidor"
                            initial-object="ctrl.entity.distribuidor"
                            local-data="distribuidores"
                            search-fields="nome"
                            title-field="nome"
                            minlength="0"
                            input-class="form-control form-control-small"
                            match-class="highlight"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-12 no-padding">Estado</label>
                        <div class="col-sm-12 no-padding">
                            <select class="form-control" ng-model="ctrl.entity.uf">
                                <option value=""></option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-12">Período</label>
                        <div class="col-sm-6">
                            <input id="de"
                                type="{{inputType_de || 'text'}}" 
                                ng-focus="inputType_de = 'date'" 
                                ng-blur="inputType_de = (ctrl.entity.de)?'date':'text'" 
                                placeholder="De:" 
                                ng-model="ctrl.entity.de" 
                                class="form-control col-sm-5">
                        </div>
                        <div class="col-sm-6">
                            <input id="ate"
                                type="{{inputType_ate || 'text'}}" 
                                ng-focus="inputType_ate = 'date'" 
                                ng-blur="inputType_ate = (ctrl.entity.de)?'date':'text'" 
                                placeholder="Até:" ng-model="ctrl.entity.ate" 
                                class="form-control col-sm-5">
                        </div>
                    </div>
                </div>
                <center class="col-sm-12 center-block">
                    <button type="button" class="btn btn-labeled btn-default" ng-click="ctrl.download()">
                        <span class="btn-label">
                            <i class="fa fa-file-pdf-o"></i>
                        </span> Gerar PDF
                    </button>
                    <button type="submit" class="btn btn-labeled btn-primary">
                        <span class="btn-label">
                            <i class="fa fa-search"></i>
                        </span> Pesquisar
                    </button>
                </center>
            </form>
            <div class="form-group col-sm-12">
                <div class="panel panel-default">
                    <table ng-table="ctrl.tableParams" class="table">
                        <thead>
                            <th style="text-align:left">Distribuidor</th>
                            <th style="text-align:left">Data</th>
                            <th style="text-align:left">Estado</th>
                            <th style="text-align:left">Comissão</th>
                            <th style="text-align:left">Origem</th>
                            <th style="text-align:left">Níveis</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="lancamento in $data">
                                <td>{{lancamento.distribuidor.nome}}</td>
                                <td>{{lancamento.data | date:'dd/MM/yyyy'}}</td>
                                <td>{{lancamento.distribuidor.uf}}</td>
                                <td style="color: {{
                                    (lancamento.tipo == 'credito')?'#27c24c':
                                    (lancamento.tipo == 'credito_aberto')?'#27c24c':
                                    (lancamento.tipo == 'debito')?'#f05050':
                                    (lancamento.tipo == 'pagamento')?'#f05050':''
                                }}">{{lancamento.valor | currency:"R$ "}}</td>
                                <td>{{lancamento.origem.nome}}</td>
                                <td>{{
                                    (lancamento.nivel == 1)?"Filho":
                                    (lancamento.nivel == 2)?"Neto":"Bisneto"
                                }}</td>
                            </tr>
                        </tbody>
                    </table>
               </div>
               
                <div class="panel panel-default">
                   <div class="panel-body">
                       <div class="col-sm-8">
                           
                       </div>
                       <div class="col-sm-4 pull-right">
                           <label>Saldo Total: &nbsp;&nbsp;&nbsp;</label>
                           {{ctrl.saldo_total | currency:"R$ "}}
                           
                       </div>
                   </div>
           </div>
       </div>
    </div>
</div>