<h3>Relatório de Pontuações</h3>

<div class="row" ng-controller="relatorioPontuacaoController as ctrl" >
    <div class="panel panel-default">
       <div class="panel-body">
            <form class="form-group col-sm-12 no-padding form-horizontal" ng-submit="ctrl.search()">
                <div class="col-sm-6">
                    <div class="form-group">
                    <label class="col-sm-12 no-padding">Distribuidor</label>
                    <div class="col-sm-12 no-padding">
                        <div
                            angucomplete-alt id="ex1"
                            placeholder="Procurar"
                            maxlength="50"
                            pause="100"
                            selected-object="ctrl.entity.distribuidor"
                            initial-object="ctrl.entity.distribuidor"
                            local-data="distribuidores"
                            search-fields="nome"
                            title-field="nome"
                            minlength="0"
                            input-class="form-control form-control-small"
                            match-class="highlight"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-12">Estado</label>
                        <div class="col-sm-12">
                            <select class="form-control" ng-model="ctrl.entity.uf">
                                <option value=""></option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 center-block">
                    <button type="submit" class="btn btn-labeled btn-primary center-block">
                        <span class="btn-label">
                            <i class="fa fa-search"></i>
                        </span> Pesquisar
                    </button>
                </div>
            </form>
            <div class="form-group col-sm-12">
                <div class="panel panel-default">
                    <table ng-table="ctrl.tableParams" class="table">
                        <thead>
                            <th style="text-align:left">Distribuidor</th>
                            <th style="text-align:left">Estado</th>
                            <th style="text-align:left">Saldo</th>
                            <th style="text-align:left">Pontuação</th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="obj in $data">
                                <td>{{obj.nome}}</td>
                                <td>{{obj.uf}}</td>
                                <td>{{obj.valor | currency:"R$ "}}</td>
                                <td>{{obj.pontos | currency:"":0 || 0}}</td>
                            </tr>
                        </tbody>
                    </table>
               </div>
           </div>
       </div>
    </div>
</div>