<h3>Cadastro de Departamentos 
<a ng-href="#/app/departamentos/list" type="button" class="btn btn-labeled btn-default pull-right">
	<span class="btn-label">
		<i class="fa fa-arrow-left"></i>
	</span>
	Voltar
</a>
</h3>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="form1" class="form-inline">
                <div class="col-sm-12 no-padding">
                    <div class="input-group col-sm-8">
                        <span class="input-group-addon" style="width: 80px">{{id}}</span>
                        <input id="descricao" type="text" ng-model="descricao" placeholder="Descrição do Departamento" class="form-control">
                    </div>
                </div>
            </form>
            <div>&nbsp;</div>
            <legend></legend>
            <div class="form-group no-padding-left col-sm-3">
                <button type="button" ng-click="submit()" class="btn btn-labeled btn-primary">
                    <span class="btn-label">
                        <i class="fa fa-save"></i>
                    </span> Salvar
                </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-labeled btn-danger" ng-click="cancelar()">
                    <span class="btn-label">
                        <i class="fa fa-times"></i>
                    </span> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>