<h3>Cadastro de Lancamentos 
<a ng-href="#/app/lancamentos/list" type="button" class="btn btn-labeled btn-default pull-right">
	<span class="btn-label">
		<i class="fa fa-arrow-left"></i>
	</span>
	Voltar
</a>
</h3>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form name="form1">
                <div class="col-sm-12 no-padding">
                    <div class="form-group col-sm-3">
                        <label>Distribuidor</label>
                        <div angucomplete-alt id="ex1"
                          placeholder="Procurar"
                          maxlength="50"
                          pause="100"
                          selected-object="entity.distribuidor"
                          initial-value="entity.distribuidor"
                          local-data="distribuidores"
                          search-fields="nome"
                          title-field="nome"
                          minlength="0"
                          input-class="form-control form-control-small"
                          match-class="highlight"></div>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Tipo de Lançamento</label>
                        <select class="form-control" ng-model="entity.tipo">
                            <option value=""></option>
                            <option value="credito">Crédito</option>
                            <option value="credito_aberto">Crédito Aberto</option>
                            <option value="debito">Débito</option>
                            <option value="pagamento">Pagamento</option>
                        </select>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Data</label>
                        <input type="date" class="form-control" ng-model="entity.data"/>
                    </div>
                    <div class="form-group col-sm-3">
                        <label>Valor</label>
                        <div class="input-group">
                            <span class="input-group-addon">R$</span>
                            <input type="number" class="form-control" ng-model="entity.valor" min="0" precision="2"/>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label>Observação</label>
                        <textarea class="form-control" rows="5" ng-model="entity.observacao"></textarea>
                    </div>
                </div>
            </form>
            <div>&nbsp;</div>
            <legend></legend>
            <div class="form-group col-sm-12 text-center">
                <button type="button" ng-click="submit()" class="btn btn-labeled btn-primary">
                    <span class="btn-label">
                        <i class="fa fa-save"></i>
                    </span> Salvar
                </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-labeled btn-danger" ng-click="cancelar()">
                    <span class="btn-label">
                        <i class="fa fa-times"></i>
                    </span> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>